{
  "presets": [
    "./tools/es2015Preset",
    "react"
  ],
  "env": {
    "cjs": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [
              ".scss"
            ]
          }
        ]
      ]
    },
    "es": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [
              ".scss"
            ]
          }
        ]
      ]
    }
  }
}
