{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": ["transform-export-extensions"],
  "env": {
    "cjs": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [
              ".scss"
            ]
          }
        ]
      ]
    },
    "es": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [
              ".scss"
            ]
          }
        ]
      ]
    }
  }
}
