# compiled output
/tmp
/typings
/deploy

# Dependency directories
/node_modules

# IDEs
/.vscode
.idea

# Optional npm cache directory
.npm

# cache folders
_cache
# node-waf configuration
.lock-wscript

# misc
.DS_Store
/.sass-cache
/connect.lock
/.chrome


# Logs
logs
*.log
npm-debug.log

# customer
/demo
/dist
/lib
/es
