# compiled output
app-*.js
index.html
/tmp
/typings
/deploy

# Dependency directories
/node_modules

# IDEs
/.vscode
.idea

# Optional npm cache directory
.npm

# node-waf configuration
.lock-wscript

# misc
.DS_Store
/.sass-cache
/connect.lock
/.chrome

/dist
/lib
# Logs
logs
*.log
npm-debug.log
