@import "../style/setting";

button, input {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  &:focus {
    outline: 0;
  }
}

.ui_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: pxToRem(60);
}

.ui_button_container + .ui_button_container {
  margin-top: pxToRem(30)
}

.ui_button {
  width: pxToRem(580);
  height: pxToRem(80);
  line-height: pxToRem(80);
  text-align: center;
  font-size: pxToRem(28);
  border-radius: pxToRem(4);
  &_primary {
    background-color: $red_primary;
    color: $white;
    &:active {
      background-color: $red_active;
    }
  }

  &_secondary {
    border: 1px solid $border_primary;
    background-color: $white;
    &:active {
      background-color: #ccc;
    }
  }
}

.ui_button_primary.ui_button_disabled {
  background-color: #cdcdcd;
  color: rgba(255, 255, 255, .5);
}

.ui_button_secondary.ui_button_disabled {
  border: 1px solid rgba(204, 204, 204, 0.50);
  color: rgba(17, 17, 17, .5)
}

.ui_button_small {
  width: pxToRem(270)
}
