@import "../style/config";
@import "../style/utils";

$date_picker: #{$prefixCls}_date_picker;

.#{$date_picker} {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: pxToRem(22);
  &_date,
  &_placeholder {
    width: 100%;
    text-align: right;
    color: $text_primary;
  }
  &_placeholder {
    color: $text_light;
  }
  &_popup {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0px;
    background-color: $white;
    border: 1px solid $border_primary;
    width: 100%;
  }
  &_header {
    display: flex;
    height: pxToRem(100);
    background-color: $gray;
    &_content {
      flex: 1;
      line-height: pxToRem(100);
      font-size: pxToRem(28);
      font-weight: normal;
      text-align: center;
    }
  }
  &_confirm,
  &_cancel {
    display: inline-block;
    line-height: pxToRem(100);
    font-size: pxToRem(22);
    padding: pxToRem(0) pxToRem(30);
    vertical-align: middle;
    color: $blue;
  }
  &_content {
    display: flex;
    padding: pxToRem(20) 0;
  }
  &_content_item {
    flex: 1;
  }
}
