@import "../_style/_config";
@import "../_style/_utils";

$dialog: #{$prefixCls}_dialog;

.#{$dialog} {
  width: pxToRem(540);
  border-radius: pxToRem(6);
  background-color: #fff;
  overflow: hidden;
  z-index: 1000;
  position: relative;
  &_modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.48);
  }
  &_header {
    margin-top: pxToRem(44);
    text-align: center;
    margin-bottom:pxToRem(16);
  }
  &_header_content {
    font-size: $font-size-large;
  }
  &_content {
    margin: 0 pxToRem(32) pxToRem(40);
    font-size: $font-size-base;
    text-align: center;
  }
  &_confirm_box {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    border-top: 1px solid $border-color-primary;
    font-size: pxToRem(28);
    color: $color-text-highlight;
  }
  &_cancel_button,
  &_confirm_button {
    outline: none;
    flex: 1;
    display: inline-block;
    text-align: center;
    height:pxToRem(90);
    vertical-align: middle;
    background-color: #fff;
    padding: 0;
  }
  &_confirm_button {
    border-left: 1px solid $border-color-primary;
  }
}
