@import "../_style/config";

.NEUI_cells_tip {
  display: block;
  margin: pxToRem(14) pxToRem(32) pxToRem(24);
  line-height: pxToRem(30);
  font-size: $font-size-small;
  color: $color-text-light;
}

.NEUI_cells {
  width: 100%;
  & .NEUI_cell:first-child {
    border-top: 1px solid $border-color-primary;
  }
  & .NEUI_cell:last-child {
    border-bottom: 1px solid $border-color-primary;
    &:after {
      display: none;
    }
  }
}

.NEUI_cell {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: pxToRem(88);
  padding: pxToRem(20) pxToRem(32);
  font-size: $font-size-big;
  background-color: $white;
  position: relative;
  overflow: hidden;
  &__hd {
    color: $color-text-title;
    width: pxToRem(130);
    display: flex;
    align-items: center;
    margin-right: pxToRem(30);
  }
  &__bd {
    flex: 1;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
    a {
      width: 100%;
    }
  }
  &__ft {
    display: flex;
    align-items: center;
    margin-left: pxToRem(30)
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 95%;
    height: 1px;
    background-color: $border-color-secondary;
    display: block;
    transition: all .3s ease;
  }
  &:last-child:after {
    display: none;
  }
}

.NEUI_cell_warning {
  &:after {
    background-color: $color-warning;
    display: block !important;
  }
}


