/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
    margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary {
    /* 1 */
    display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
    display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template, /* 1 */
[hidden] {
    display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
    outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
    font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
    font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
    background-color: #ff0;
    color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
    margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Correct color not being inherited.
      Known issue: affects color of disabled elements.
 * 2. Change font properties to `inherit` in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
    vertical-align: middle;
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
    font-weight: 700;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    /* 1 */
    overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    /* 1 */
    text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
    overflow: auto;
    resize: none;
    vertical-align: top;
}
/* webkit focus outline */
input,
select,
textarea {
    outline: 0;
}
/* Re-set default cursor for disabled elements. */
[disabled] {
    cursor: default;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, ff, and Safari.
 */
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: inherit;
    opacity: 0.54;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
input::-ms-clear,
input::-ms-reveal {
    display: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}
/* table
   ========================================================================== */
/* Remove table cell spacing and padding */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
    margin: 0;
}
ul, ol, li, dl, dd {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none outside none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}
/* global */
/* grid */
/* button */
/* Form */
/* typography */
/* label */
/* table */
/* pagination */
/* breadcrumb */
body {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #656b79;
    background-color: #fff;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.container:before, .container:after {
    display: table;
    content: "";
}
.container:after {
    clear: both;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.row:before, .row:after {
    display: table;
    content: "";
}
.row:after {
    clear: both;
}
[class^="col-"] {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
}
.col-1 {
    width: 8.33333%;
}
.col-2 {
    width: 16.66667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333%;
}
.col-5 {
    width: 41.66667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33333%;
}
.col-8 {
    width: 66.66667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33333%;
}
.col-11 {
    width: 91.66667%;
}
.col-12 {
    width: 100%;
}
.col-offset-1 {
    margin-left: 8.33333%;
}
.col-offset-2 {
    margin-left: 16.66667%;
}
.col-offset-3 {
    margin-left: 25%;
}
.col-offset-4 {
    margin-left: 33.33333%;
}
.col-offset-5 {
    margin-left: 41.66667%;
}
.col-offset-6 {
    margin-left: 50%;
}
.col-offset-7 {
    margin-left: 58.33333%;
}
.col-offset-8 {
    margin-left: 66.66667%;
}
.col-offset-9 {
    margin-left: 75%;
}
.col-offset-10 {
    margin-left: 83.33333%;
}
.col-offset-11 {
    margin-left: 91.66667%;
}
.table-column {
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
    float: none;
}
.centered-column {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
}
.btn {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    -webkit-appearance: none;
    min-width: 90px;
    text-align: center;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    color: #666;
    background-color: #fff;
    border-color: #ddd;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
}
.btn i {
    font-style: normal;
    font-weight: 500;
    opacity: 0.6;
}
.btn:focus, .btn.focus {
    outline: none;
}
.btn:hover {
    text-decoration: none;
    color: #666;
    background-color: rgb(230, 230, 230);
    border-color: rgb(196, 196, 196);
}
.btn:active, .btn.active {
    color: #666;
    background-color: rgb(230, 230, 230);
    border-color: rgb(196, 196, 196);
}
.btn:active:hover, .btn:active:focus, .btn:active.focus, .btn.active:hover, .btn.active:focus, .btn.active.focus {
    color: #666;
    background-color: rgb(212, 212, 212);
    border-color: rgb(166, 166, 166);
}
.btn:active, .btn.active {
    background-image: none;
}
.btn.disabled, .btn[disabled] {
    opacity: 0.65 !important;
    background-color: #fff !important;
    border-color: #ddd !important;
    color: #666 !important;
    cursor: not-allowed;
}
.btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus {
    background-color: #fff !important;
    border-color: #ddd !important;
    color: #666 !important;
    cursor: not-allowed;
}
.btn[disabled], .btn.disabled {}
.btn[disabled], .btn[disabled]:hover, .btn.disabled, .btn.disabled:hover {
    color: rgba(102, 102, 102, 0.5);
    cursor: not-allowed;
    background-color: rgba(229, 229, 229, 0.5);
    background-image: none;
    border-color: rgba(197, 197, 197, 0.5);
    box-shadow: none;
}
.btn-primary {
    color: #fff;
    background-color: #4993e5;
    border-color: #4993e5;
}
.btn-primary:focus, .btn-primary.focus {
    outline: none;
}
.btn-primary:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgb(45, 129, 225);
    border-color: rgb(41, 126, 224);
}
.btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: rgb(45, 129, 225);
    border-color: rgb(41, 126, 224);
}
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus {
    color: #fff;
    background-color: rgb(31, 119, 219);
    border-color: rgb(28, 107, 196);
}
.btn-primary:active, .btn-primary.active {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled] {
    opacity: 0.65 !important;
    background-color: #4993e5 !important;
    border-color: #4993e5 !important;
    color: #fff !important;
    cursor: not-allowed;
}
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus {
    background-color: #4993e5 !important;
    border-color: #4993e5 !important;
    color: #fff !important;
    cursor: not-allowed;
}
.btn-green {
    color: #fff;
    background-color: #2bb56f;
    border-color: #2bb56f;
}
.btn-green:focus, .btn-green.focus {
    outline: none;
}
.btn-green:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgb(39, 165, 102);
    border-color: rgb(38, 161, 99);
}
.btn-green:active, .btn-green.active {
    color: #fff;
    background-color: rgb(39, 165, 102);
    border-color: rgb(38, 161, 99);
}
.btn-green:active:hover, .btn-green:active:focus, .btn-green:active.focus, .btn-green.active:hover, .btn-green.active:focus, .btn-green.active.focus {
    color: #fff;
    background-color: rgb(36, 153, 94);
    border-color: rgb(32, 136, 84);
}
.btn-green:active, .btn-green.active {
    background-image: none;
}
.btn-green.disabled, .btn-green[disabled] {
    opacity: 0.65 !important;
    background-color: #2bb56f !important;
    border-color: #2bb56f !important;
    color: #fff !important;
    cursor: not-allowed;
}
.btn-green.disabled:hover, .btn-green.disabled:focus, .btn-green.disabled.focus, .btn-green[disabled]:hover, .btn-green[disabled]:focus, .btn-green[disabled].focus {
    background-color: #2bb56f !important;
    border-color: #2bb56f !important;
    color: #fff !important;
    cursor: not-allowed;
}
.btn-gray {
    color: #656b79;
    background-color: #f6f8fa;
    border-color: #dfe2e7;
}
.btn-gray:focus, .btn-gray.focus {
    outline: none;
}
.btn-gray:hover {
    text-decoration: none;
    color: #656b79;
    background-color: rgb(212, 222, 231);
    border-color: rgb(191, 197, 207);
}
.btn-gray:active, .btn-gray.active {
    color: #656b79;
    background-color: rgb(212, 222, 231);
    border-color: rgb(191, 197, 207);
}
.btn-gray:active:hover, .btn-gray:active:focus, .btn-gray:active.focus, .btn-gray.active:hover, .btn-gray.active:focus, .btn-gray.active.focus {
    color: #656b79;
    background-color: rgb(192, 207, 221);
    border-color: rgb(159, 168, 183);
}
.btn-gray:active, .btn-gray.active {
    background-image: none;
}
.btn-gray.disabled, .btn-gray[disabled] {
    opacity: 0.65 !important;
    background-color: #f6f8fa !important;
    border-color: #dfe2e7 !important;
    color: #656b79 !important;
    cursor: not-allowed;
}
.btn-gray.disabled:hover, .btn-gray.disabled:focus, .btn-gray.disabled.focus, .btn-gray[disabled]:hover, .btn-gray[disabled]:focus, .btn-gray[disabled].focus {
    background-color: #f6f8fa !important;
    border-color: #dfe2e7 !important;
    color: #656b79 !important;
    cursor: not-allowed;
}
.btn-darkgray {
    color: #fff;
    background-color: #999da7;
    border-color: #999da7;
}
.btn-darkgray:focus, .btn-darkgray.focus {
    outline: none;
}
.btn-darkgray:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgb(138, 142, 153);
    border-color: rgb(132, 137, 148);
}
.btn-darkgray:active, .btn-darkgray.active {
    color: #fff;
    background-color: rgb(138, 142, 153);
    border-color: rgb(132, 137, 148);
}
.btn-darkgray:active:hover, .btn-darkgray:active:focus, .btn-darkgray:active.focus, .btn-darkgray.active:hover, .btn-darkgray.active:focus, .btn-darkgray.active.focus {
    color: #fff;
    background-color: rgb(124, 129, 141);
    border-color: rgb(111, 116, 128);
}
.btn-darkgray:active, .btn-darkgray.active {
    background-image: none;
}
.btn-darkgray.disabled, .btn-darkgray[disabled] {
    opacity: 0.65 !important;
    background-color: #999da7 !important;
    border-color: #999da7 !important;
    color: #fff !important;
    cursor: not-allowed;
}
.btn-darkgray.disabled:hover, .btn-darkgray.disabled:focus, .btn-darkgray.disabled.focus, .btn-darkgray[disabled]:hover, .btn-darkgray[disabled]:focus, .btn-darkgray[disabled].focus {
    background-color: #999da7 !important;
    border-color: #999da7 !important;
    color: #fff !important;
    cursor: not-allowed;
}
.btn-large {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    min-width: 240px;
}
.btn-small {
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 2px;
}
.dropdown.open .dropdown-toggle {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.dropdown.open .dropdown-toggle.btn {
    color: #666;
    background-color: rgb(230, 230, 230);
    border-color: rgb(196, 196, 196);
}
.dropdown.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(45, 129, 225);
    border-color: rgb(41, 126, 224);
}
.dropdown.open .dropdown-toggle.btn-green {
    color: #fff;
    background-color: rgb(39, 165, 102);
    border-color: rgb(38, 161, 99);
}
.dropdown.open .dropdown-toggle.btn-gray {
    color: #656b79;
    background-color: rgb(212, 222, 231);
    border-color: rgb(191, 197, 207);
}
.dropdown.open .dropdown-toggle.btn-darkgray {
    color: #fff;
    background-color: rgb(138, 142, 153);
    border-color: rgb(132, 137, 148);
}
.btn-block {
    width: 100%;
    display: block;
}
.btn-group {
    font-size: 0;
}
.btn-group .btn {
    position: relative;
}
.btn-group .btn:hover, .btn-group .btn:active {
    z-index: 2;
}
.btn-group .btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
h1, .h1 {
    font-size: 32px;
}
h2, .h2 {
    font-size: 26px;
}
h3, .h3 {
    font-size: 22px;
}
h4, .h4 {
    font-size: 18px;
}
h5, .h5 {
    font-size: 14px;
}
h6, .h6 {
    font-size: 12px;
}
.mark, mark {
    padding: .2em;
    background-color: #fcf8e3;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    // table-layout: fixed;
    background-color: #fff;
}
.table td, .table th {
    padding: 8px;
    vertical-align: top;
    border: 1px solid #eee;
    text-align: left;
    color: #656b79;
    white-space: nowrap;
}
.table th {
    font-weight: 400;
    padding: 8px;
    background-color: #f4f5f7;
}
.table .table-center {}
.table .table-center, .table .table-center th, .table .table-center td {
    text-align: center;
}
.table-interleave tr:nth-child(even) td {
    background-color: #fafafa;
}
.alert {
    padding: 5px 10px;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .1rem;
}
.alert > [class^="icon-"], .alert [class*=" icon-"] {
    vertical-align: sub;
    margin-right: 5px;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
}
.alert-success > [class^="icon-"], .alert-success [class*=" icon-"] {
    color: #3c763d;
}
.alert-success.alert-arrow-top:before {
    border-color: transparent transparent #dff0d8;
}
.alert-success.alert-arrow-top:after {
    border-color: transparent transparent #d0e9c6;
}
.alert-success.alert-arrow-bottom:before {
    border-color: #dff0d8 transparent transparent;
}
.alert-success.alert-arrow-bottom:after {
    border-color: #d0e9c6 transparent transparent;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
}
.alert-info > [class^="icon-"], .alert-info [class*=" icon-"] {
    color: #31708f;
}
.alert-info.alert-arrow-top:before {
    border-color: transparent transparent #d9edf7;
}
.alert-info.alert-arrow-top:after {
    border-color: transparent transparent #bcdff1;
}
.alert-info.alert-arrow-bottom:before {
    border-color: #d9edf7 transparent transparent;
}
.alert-info.alert-arrow-bottom:after {
    border-color: #bcdff1 transparent transparent;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #f3e5c0;
}
.alert-warning > [class^="icon-"], .alert-warning [class*=" icon-"] {
    color: #de6d1f;
}
.alert-warning.alert-arrow-top:before {
    border-color: transparent transparent #fcf8e3;
}
.alert-warning.alert-arrow-top:after {
    border-color: transparent transparent #f3e5c0;
}
.alert-warning.alert-arrow-bottom:before {
    border-color: #fcf8e3 transparent transparent;
}
.alert-warning.alert-arrow-bottom:after {
    border-color: #f3e5c0 transparent transparent;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
}
.alert-danger > [class^="icon-"], .alert-danger [class*=" icon-"] {
    color: #a94442;
}
.alert-danger.alert-arrow-top:before {
    border-color: transparent transparent #f2dede;
}
.alert-danger.alert-arrow-top:after {
    border-color: transparent transparent #ebcccc;
}
.alert-danger.alert-arrow-bottom:before {
    border-color: #f2dede transparent transparent;
}
.alert-danger.alert-arrow-bottom:after {
    border-color: #ebcccc transparent transparent;
}
.alert-arrow-top, .alert-arrow-bottom {
    position: relative;
}
.alert-arrow-top:before, .alert-arrow-top:after, .alert-arrow-bottom:before, .alert-arrow-bottom:after {
    content: "";
    position: absolute;
    border: 7px solid;
    left: 10px;
}
.alert-arrow-top {}
.alert-arrow-top:before {
    top: -13px;
    z-index: 10;
}
.alert-arrow-top:after {
    top: -14px;
    z-index: 9;
}
.alert-arrow-bottom {}
.alert-arrow-bottom:before {
    bottom: -13px;
    z-index: 10;
}
.alert-arrow-bottom:after {
    bottom: -14px;
    z-index: 9;
}
@font-face {
    font-family: 'icon';
    src: url('../fonts/icon.eot');
    src: url('../fonts/icon.eot') format('embedded-opentype'),
        url('../fonts/icon.ttf') format('truetype'),
        url('../fonts/icon.woff') format('woff'),
        url('../fonts/icon.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
    content: "\e003";
}
.icon-like:before {
    content: "\e005";
}
.icon-star:before {
    content: "\e006";
}
.icon-unstar:before {
    content: "\e007";
}
.icon-app:before {
    content: "\e010";
}
.icon-success:before {
    content: "\e013";
}
.icon-fail:before {
    content: "\e014";
}
.icon-setting:before {
    content: "\e019";
}
.icon-refresh:before {
    content: "\e031";
}
.icon-list:before {
    content: "\e032";
}
.icon-qrcode:before {
    content: "\e039";
}
.icon-image:before {
    content: "\e060";
}
.icon-edit:before {
    content: "\e065";
}
.icon-back:before {
    content: "\e069";
}
.icon-rewind-fast:before {
    content: "\e070";
}
.icon-rewind:before {
    content: "\e071";
}
.icon-play:before {
    content: "\e072";
}
.icon-pause:before {
    content: "\e073";
}
.icon-stop:before {
    content: "\e074";
}
.icon-forward:before {
    content: "\e075";
}
.icon-forward-fast:before {
    content: "\e076";
}
.icon-front:before {
    content: "\e077";
}
.icon-question:before {
    content: "\e085";
}
.icon-info:before {
    content: "\e086";
}
.icon-notice:before {
    content: "\e101";
}
.icon-calendar:before {
    content: "\e109";
}
.icon-cart:before {
    content: "\e116";
}
.icon-phone:before {
    content: "\e145";
}
.icon-download:before {
    content: "\e166";
}
.icon-nav:before {
    content: "\e236";
}
.icon-arrowfull-right:before {
    content: "\e250";
}
.icon-arrow-full-left:before {
    content: "\e251";
}
.icon-arrow-full-bottom:before {
    content: "\e252";
}
.icon-arrow-full-top:before {
    content: "\e253";
}
.icon-arrow-left:before {
    content: "\e257";
}
.icon-arrow-right:before {
    content: "\e258";
}
.icon-arrow-bottom:before {
    content: "\e259";
}
.icon-arrow-top:before {
    content: "\e260";
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown.open .dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    font-size: 1rem;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14), 0px 2px 4px 0px rgba(0,0,0,0.14);
    border-radius: 2px;
}
.dropdown-item {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.5;
    text-align: inherit;
    white-space: nowrap;
    cursor: pointer;
}
.dropdown-item:hover {
    background-color: #f0f0f0;
}
.label {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.label-default {
    background-color: #818a91;
}
.label-primary {
    background-color: #0275d8;
}
.label-success {
    background-color: #5cb85c;
}
.label-info {
    background-color: #5bc0de;
}
.label-warning {
    background-color: #f0ad4e;
}
.label-danger {
    background-color: #d9534f;
}
.breadcrumb {
    padding: 12px 16px;
    padding: .75rem 1rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    list-style: none;
}
.breadcrumb:before, .breadcrumb:after {
    display: table;
    content: "";
}
.breadcrumb:after {
    clear: both;
}
.breadcrumb li {
    float: left;
    color: #999da7;
}
.breadcrumb li a {
    color: #656b79;
}
.breadcrumb li + li::before {
    padding-right: .5em;
    padding-left: .5em;
    content: ">";
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: 16px;
    margin-top: 1rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    border-radius: .25rem;
}
.pagination > a {
    float: left;
    padding: .1em .5em;
    margin-left: -1px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    margin-right: .5em;
    border-radius: 3px;
    font-size: 14px;
    color: #4591e8;
}
.pagination > a:hover {
    color: #014c8c;
    background-color: #eceeef;
}
.pagination > a.active, .pagination > a.active:hover {
    color: #fff;
    cursor: default;
    background-color: #4591e8;
    border-color: #4591e8;
}
.pagination.pagination-lg > a {
    padding: 8px 16px;
    padding: .5rem 1rem;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.333333;
}
.pagination.pagination-sm > a {
    padding: 0 6.4px;
    padding: 0 .4rem;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.5;
}
.tabs-nav {
    border-bottom: 1px solid rgba(61, 70, 77, 0.1);
}
.tabs-nav:before, .tabs-nav:after {
    display: table;
    content: "";
}
.tabs-nav:after {
    clear: both;
}
.tabs-navItem {
    float: left;
    height: 100%;
    margin-right: 24px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: -1px;
}
.tabs-navItem .tabs-navItem-inner {
    display: block;
    padding: 8px 22px;
    border: 0;
    border-bottom: 2px solid transparent;
    transition: color 0.3s;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}
.tabs-navItem .tabs-navItem-inner:hover {
    text-decoration: none;
    color: #4591e8;
}
.tabs-navItem.active .tabs-navItem-inner {
    border-bottom: 2px solid #4591e8;
    color: #4591e8;
}
.tabs-navItem.disabled .tabs-navItem-inner {
    /* color: $pagination-disabled-color; */
    cursor: not-allowed;
}
/* input 、textarea、select */
.input {
    display: block;
    width: 100%;
    padding: 5px 7px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
    color: #47525d;
    height: 29.6px;
    border: 1px solid #dfe2e7;
    border-radius: 3px;
    background-color: #f9f9fa;
    background-clip: padding-box;
    line-height: 1.4;
    transition: border-color ease-in-out .15s;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.input:focus {
    border-color: #72b6ec;
    box-shadow: 0px 0px 2px 0px #5da9ff,0px 0px 4px 0px rgba(0,0,0,0.18);
    outline: 0;
}
.input.input-error {
    border-color: rgba(232, 33, 16, 0.5);
    background-color: #fff7f7;
    color: #ff6669;
    box-shadow: none;
    outline: 0;
}
.input.input-success {
    border-color: rgba(232, 33, 16, 0.5);
    box-shadow: none;
    outline: 0;
}
.input.input-inline {
    display: inline-block;
    /* width: $input-default-width; */
    vertical-align: middle;
}
.input.disabled, .input[disabled], .input[readonly] {
    background-color: #eee;
    border-color: #ccc;
    color: #555;
}
.input.disabled, .input[disabled] {
    cursor: not-allowed;
}
/* select */
.select {
    position: relative;
    display: inline-block;
}
.select.active .select-list {
    display: block;
}
.select.active .select-input {
    border: 1px solid #72b6ec;
    box-shadow: 0px 0px 2px 0px #5da9ff,0px 0px 4px 0px rgba(0,0,0,0.18);
}
.select.active .select-input + .select-caret {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
}
.select-input {
    display: inline-block;
    width: auto;
    background-color: #fff;
    color: #656b79;
    border: 1px solid #ccc;
    padding: 5px 7px;
    padding-right: 28px;
    border-radius: 3px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.select-input + .select-caret {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 13px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 5px;
    border-top-color: #ccc;
    -webkit-transform-origin: center 2px;
            transform-origin: center 2px;
    transition: -webkit-transform .15s;
    transition: transform .15s;
    transition: transform .15s, -webkit-transform .15s;
}
.select-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14),0px 2px 4px 0px rgba(0,0,0,0.14);
    border-radius: 2px;
}
.select-list-item {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    cursor: pointer;
}
.select-list-item:hover {
    background-color: #f0f0f0;
    color: #656b79;
}
/* 上传文件 */
.input-file {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
textarea.input {
    height: auto;
    height: initial;
    resize: none;
}
.form-label {}
.form-label + .input {
    margin-top: 5px;
}
.form-label + .input-inline {
    margin-left: 5px;
    margin-top: 0;
}
input[type="checkbox"], input[type="radio"] {
    margin: 0 5px 0;
    vertical-align: baseline;
}
input[type="checkbox"][disabled], input[type="radio"][disabled] {
    background-color: #eee;
}
select.input {
    -webkit-appearance: menulist;
       -moz-appearance: menulist;
            appearance: menulist;
}
label.disabled {
    color: #bbb;
}
