@import "../style/config";

@mixin subCell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NEUI_input {
  @include subCell();
  input {
    width: 100%;
    color: $contentColor;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    &:focus {
      outline: #000;
    }
  }
}

.NEUI_select {
  @include subCell();
  justify-content: flex-end;
  position: relative;
  text-align: right;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: $contentColor;
  }
}

.NEUI_checkbox {
  width: pxToRem(27);
  height: pxToRem(27);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid $gray_light;
  border-radius: pxToRem(2);
  background-color: $white;
  .NEUI_checkbox_icon {
    font-size: pxToRem(16);
    position: absolute;
    margin: 0;
  }
  input {
    position: absolute;
    /**
    设置 z-index, 为了解决 Icon 覆盖在 checkbox 上导致无法点击到 checkbox 的问题。
     */
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
