@import "../style/config";
@import "../style/utils";

.ui_toast{
  display: table;
  max-width: pxToRem(400);
  border-radius: pxToRem(6);
  background: rgba(0,0,0,0.8);
  margin: pxToRem(216) auto 0;
  overflow: hidden;
  text-align: center;
  padding: pxToRem(20);
  z-index: 1000;
  color: $white;
}
