@import "../_style/_config";
@import "../_style/_utils";

$cell_input: #{$prefixCls}_cell_input;

.#{$cell_input} {
  input{
    display: block;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 1px;
  }
  &_list {
    display: flex;
    justify-content: space-between;
  }
  &_item {
    display: inline-block;
    border: pxToRem(2) solid $border-color-secondary;
    border-radius: pxToRem(2);
    width: pxToRem(62);
    height: pxToRem(62);
    overflow: hidden;
    line-height: 1.55rem;
    vertical-align: middle;
    text-align: center;
    font-size: pxToRem(36);
    color: $color-text-highlight;
    &.active{
      border-color:  $blue;
    }
  }
}
