@import "../style/config";

.NEUI_verify {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  &:focus {
    outline: 0;
  }
  height: pxToRem(60);
  background-color: transparent;
  display: flex;
  padding-left: pxToRem(30);
  justify-content: center;
  align-items: center;
  color: $blue;
  border-left: 1px solid $border_secondary;
  &_sending {
    color: $text_light;
  }
}

