@import "../_style/_config";
@import "../_style/_utils";

$prefix: NEUI;
.#{$prefix}_action__sheet {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 100;
  font-size: $font-size-large;
  li {
    height: pxToRem(100);
    font-size: $font-size-big;
    border-bottom: 1px solid $border-color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: pxToRem(30);
    padding-right: pxToRem(30);
    background: rgba(255, 255, 255, 0.9);
  }
  .#{$prefix}_action_cancel {
    margin-top: pxToRem(10);
  }
}
