@import 'utils';
//----------------color---------------

$prefixCls: NEUI;

//base color
$red-primary: #f8402f; // 正常红色，用于按钮等正常状态的背景色
$red-active: #e31300; // 高亮红，按钮等按压下去的颜色
$white: #fff;
$blue: #0081ee; // 唯一蓝色，用于链接等地方
$gray: #F2F2F2; // 页面背景色
$gray-light: #cccccc;

$color-warning: #ff5533; // 用于提示
// text color
$color-text-primary: #111111; // 正常文字颜色
$color-text-secondary: #999999; // 浅色的文字颜色，用于说明等地方
$color-text-light: #aaaaaa;
$color-text-highlight: #333333; // 加深的文字颜色
$color-text-placeholder: $gray-light;
$color-text-title: #666666;
$color-text-content: $color-text-primary;
// border color
$border-color-primary: #dddddd; // 与页面之间的分割颜色
$border-color-secondary: #e5e5e5; // 元素与元素之间的分割颜色
$border-color-error: rgba(255, 85, 51, .5); // 表单错误提示
$font-size-small: pxToRem(24);
$font-size-base: pxToRem(28);
$font-size-big: pxToRem(30);
$font-size-large: pxToRem(32);

$noticebar-primary: #fff7c0; // 通知栏背景色
$noticebar-color: #aca36c; // 通知栏文字颜色
