// 全局通用样式
.NEUI-collapse {
  overflow: hidden;
  &-active {
    transition: height .2s ease-out;
  }
}

button {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  &:focus {
    outline: 0;
  }
}

.verticalSlideTB-appear {
  opacity: 0.01;
  transform-origin: 0 0;
  transform: translate(0, -10%);
  transition: all .2s ease-in;
}

.verticalSlideTB-appear-active {
  opacity: 1;
  transform: translate(0, 0);
}

.verticalSlideTB-enter {
  @extend .verticalSlideTB-appear
}

.verticalSlideTB-enter-active {
  @extend .verticalSlideTB-appear-active
}

.verticalSlideTB-exit {
  opacity: 1;
  transform-origin: 0% 0%;
  transform: translate(0, 0);
  transition: all .2s ease-out;
}

.verticalSlideTB-exit-active {
  opacity: 0.01;
  transform-origin: 0 0;
  transform: translate(0, -10%);
}

.verticalSlideBT-appear {
  opacity: 0.01;
  transform-origin: 0 0;
  transform: translate(0, 10%);
  transition: all .2s ease-in;
}

.verticalSlideBT-appear-active {
  opacity: 1;
  transform: translate(0, 0);
}

.verticalSlideBT-enter {
  @extend .verticalSlideBT-appear
}

.verticalSlideBT-enter-active {
  @extend .verticalSlideBT-appear-active
}

.verticalSlideBT-exit {
  opacity: 1;
  transform-origin: 0 0;
  transform: translate(0, 0);
  transition: all .2s ease-out;
}

.verticalSlideBT-exit-active {
  opacity: 0.01;
  transform-origin: 0 0;
  transform: translate(0, 10%);
}

.fade-appear {
  opacity: 0.01;
  transition: all .2s ease-in;
}

.fade-appear-active {
  opacity: 1;
}

.fade-enter {
  @extend .fade-appear
}

.fade-appear-active {
  @extend .fade-appear-active
}

.fade-exit {
  opacity: 1;
  transition: all .2s ease-out;
}

.fade-exit-active {
  opacity: 0.01;
}
