@import "../_style/_config";
@import "../_style/_utils";

$picker: #{$prefixCls}_picker;

.#{$picker} {
  position: relative;
  display: block;
  background-color: #fff;
  width: 100%;
  height: pxToRem(300);
  overflow: hidden;
  &_indicator {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    margin-top: pxToRem(-30);
    height: pxToRem(60);
    border-top: 1px solid $text_secondary;
    border-bottom: 1px solid $text_secondary;
  }
  &_content {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  &_item,
  &_item_selected {
    height: pxToRem(60);
    width: 100%;
    line-height: pxToRem(60);
    text-align: center;
    vertical-align: middle;
  }
  &_item_selected {
    color: red;
  }
}
