 @import "../style/config";

$font_size: pxToRem(24);
.NEUI_panel {
  width: 100%;
  padding: pxToRem(34) pxToRem(30);
  background-color: $white;
  font-size: pxToRem(22);
  border-top: 1px solid $border_primary;
  border-bottom: 1px solid $border_primary;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
  &_title {
    font-size: $smallSize;
    color: $text_highlight;
    margin-bottom: pxToRem(16);
    margin-top: pxToRem(16);
    &:first-child {
      margin-top: 0;
    }
  }
  &_item {
    display: flex;
    line-height: 1;
    padding: pxToRem(16) 0;
    height: pxToRem(56);
    justify-content: center;
    &:first-child {
      padding-top: 0;
      height: pxToRem(40);
    }
    &:last-child {
      padding-bottom: 0;
      height: pxToRem(40);
    }
  }
  &_item:last-child {
    margin-bottom: 0;
  }
  &_label {
    width: pxToRem(180);
    text-align: left;
    color: $text_secondary;
  }
  &_content {
    flex: 1;
    text-align: right;
    color: $text_primary;
  }
  &_driver {
    border-top: 1px solid $border_secondary;
    margin-top: pxToRem(17);
    padding-bottom:pxToRem(17);
  }
  &_button {
    height: pxToRem(90);
    line-height: pxToRem(90);
    text-align: center;
    color: $blue;
    border-top: 1px solid $border_secondary;
    margin-top: pxToRem(20);
  }
}

.NEUI_panel_expansion .NEUI_panel_button {
  display: none;
}
