@import "../style/config";

.NEUI_cells {
  width: 100%;
  border-top: 1px solid $border_primary;
  border-bottom: 1px solid $border_primary;
  overflow: hidden;
  .NEUI_cell:last-child:after {
    display: none;
  }
}

.NEUI_cell {
  width: 100%;
  display: flex;
  align-items: center;
  height: pxToRem(90);
  padding: pxToRem(20) pxToRem(30);
  font-size: $normalSize;
  background-color: $white;
  position: relative;
  &_hd {
    color: $titleColor;
    width: pxToRem(130);
    flex: none;
    display: flex;
    align-items: center;
    margin-right: pxToRem(30);
  }
  &_bd {
    flex: 1;
    display: flex;
    align-items: center;
    a {
      width: 100%;
    }
  }
  &_ft {
    display: flex;
    align-items: center;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 95%;
    height: 1px;
    background-color: $border_secondary;
    display: block;
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}

.NEUI_cell_start {
  border-top: 1px solid $border_primary;
}

.NEUI_cell_end {
  border-bottom: 1px solid $border_primary;
  &:after {
    display: none;
  }
}

.NEUI_cell_error.NEUI_cell_end {
  border-bottom: none;
  &:after {
    display: block;
  }
}

.NEUI_cells_tip {
  display: block;
  margin: pxToRem(15) pxToRem(30) pxToRem(30);
  line-height: pxToRem(30);
  font-size: $smallSize;
  vertical-align: bottom;
  background-color: $gray;
  color: $text_light;
}
