@import "../style/config";
@import "../style/utils";

$date_picker: ui_date_picker;

.#{$date_picker}{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: pxToRem(20);
  margin-left: pxToRem(22);
 .#{$date_picker}_date, .#{$date_picker}_placeholder{
    width: 100%;
    text-align: right;
    color: $text_primary;
  }
  .#{$date_picker}_placeholder{
    color: $text_highlight;
  }
}

.#{$date_picker}_popup{
  display: block;
  position: fixed;
  bottom: 0;
  left: 0px;
  background-color: $white;
  border: 1px solid $border_primary;
  width: 100%;
}

.#{$date_picker}_header{
  display: flex;
  height: pxToRem(100);
  background-color: $gray;
  .#{$date_picker}_header_content{
    flex: 1;
    line-height: pxToRem(100);
    font-size: pxToRem(28);
    font-weight: normal;
    text-align: center;
  }
  .#{$date_picker}_confirm,.#{$date_picker}_cancel{
    display: inline-block; 
    line-height: pxToRem(100);
    font-size: pxToRem(22);
    padding: pxToRem(0) pxToRem(30);
    vertical-align: middle;
    color: $blue;
  }
}
.#{$date_picker}_content{
  display: flex;
  padding: pxToRem(20) 0;
}
.#{$date_picker}_content_item{
  flex: 1;
}