@import "../style/_config";
@import "../style/_utils";

$modal: #{$prefixCls}_modal;

.#{$modal}_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.48);
}

.#{$modal} {
  display: flex;
  flex-direction: column;
  width: pxToRem(500);
  max-height: 90%;
  overflow: hidden;
  z-index: 1000;
  &_body {
    width: 100%;
    overflow-y: auto;
    background-color: $white;
    border-radius: pxToRem(6);
    padding-top: pxToRem(30)
  }
  &_close {
    height: pxToRem(60);
    margin-top: pxToRem(30);
    text-align: center;
  }
}

.#{$modal}_icon {
  font-family: "iconfont" !important;
  font-style: normal;
  &_close {
    color: $white;
    font-size: pxToRem(60);
    line-height: 1;
    &:before {
      content: "\e61e";
    }
  }
}
