@import "../_style/config";

.NEUI_button {
  text-align: center;
  font-size: $font-size-large;
  margin: pxToRem(40) auto pxToRem(30);
  height: pxToRem(80);
  line-height: pxToRem(80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_style_normal {
    border-radius: pxToRem(4);
    width: pxToRem(686);
  }
  &_style_rightAngle {
    width: 100%;
  }

  &_primary {
    background-color: $red-primary;
    color: $white;
    &:active {
      background-color: $red-active;
    }
    &.NEUI_button_disabled {
      background-color: #cdcdcd;
      color: rgba(255, 255, 255, .5);
    }
  }

  &_secondary {
    border: 1px solid $border-color-primary;
    background-color: $white;
    &:active {
      background-color: #ccc;
    }
    &.NEUI_button_disabled {
      border: 1px solid rgba(204, 204, 204, 0.50);
      color: rgba(17, 17, 17, .5)
    }
  }
}

.NEUI_button_small {
  width: pxToRem(333);
}
