// 全局通用样式
.NEUI-collapse {
  overflow: hidden;
  &-active {
    transition: height .3s ease-out;
  }
}

button {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  &:focus {
    outline: 0;
  }
}
