@import "../_style/_config";
@import "../_style/_utils";

$noticeBar: #{$prefixCls}_notice_bar;
.#{$noticeBar} {
  width: 100%;
  display: flex;
  font-size: pxToRem(22);
  color: $noticebar-color;
  background-color: $noticebar-primary;
  align-items: center;
  position: relative;
  i {
    color: $noticebar-color;
  }
  .content {
    margin: pxToRem(12) pxToRem(20);
    line-height: 1.4;
  }
  .tail-icon {
    position: absolute;
    right: pxToRem(30);
  }

}
