@import "../_style/config";

// TODO 重新组织
$collapse: #{$prefixCls}_collapse;

.#{$collapse} {
  &+.#{$collapse} .#{$prefixCls}_cells .#{$prefixCls}_cell{
    border-top: none;
  }

  .list_icon {
    transition: all 0.3s ease-in-out;
    transform: rotate(270deg);
    &.collapse {
      transform: rotate(90deg);
    }
  }

  .list_content_wrap {
    background: $white;
    overflow: hidden;
    &.collapse {
      display: none;
    }
  }

  .list_content {
    padding: pxToRem(20) 0 pxToRem(20) pxToRem(30);
  }
}
