@import "../_style/config";

// TODO 重新组织
$collapse: #{$prefixCls}_collapse;
$collapse_item: #{$prefixCls}_collapse_item;

.#{$collapse} {
  border-top: 1px solid $border-color-primary;
  border-bottom: 1px solid $border-color-primary;
  .#{$collapse_item} {
    width: 100%;
    overflow: hidden;
    &_icon {
      transition: all 0.3s ease-in-out;
      transform: rotate(90deg);
    }
    &_content {
      will-change: height;
      //transform: translate3d(0, 0, 0);
    }
  }

  .#{$collapse_item}_active {
    .#{$collapse_item}_icon {
      transform: rotate(270deg);
    }
    .#{$collapse_item}_content {
      border-top: 1px solid $border-color-primary;
    }

  }

  .#{$collapse_item} + .#{$collapse_item} {
    border-top: 1px solid $border-color-primary;
  }
}

